<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Takshak QR code generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<style>
  * {
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
html {
  padding: 0;
  font-size: 16px;
  /* If you set different base font, you might need more tweak */
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: rgb(242, 245, 247);
  color: #4d5068;
  font-family: "Dosis", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.content-body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-position: center;
  flex-direction: column;
 background-color: #393535;
  /* background-position-x: center;
  background-position-y: center; */
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 640px) {
  .content-body {
    background-position-y: top;

    /* margin-bottom: 5em; */
    /* tweak for footer fixed -- you don't need this */
  }
}

.form-wrapper {
  width: 700px;
  margin: 0 auto;
}
hr.copyrightline {
  /* height: 4px; */
  border: 0.5px solid rgba(49, 46, 46, 0.37);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 750px) {
  /* .form-wrapper {
    margin-top: 200px;
  } */
  .form-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .form-wrapper {
    width: 90%;
  }
  hr.copyrightline {
    /* height: 4px; */
    width: 90%;
  }
}

.bg-white {
  width: 100%;
  background-color: #fff;
  border: 2px solid #e5e7ec;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1em;
  text-align: center;
}

.bg-grey {
  width: 100%;
  background-color: #f8fafc;
  border: 2px solid #e5e7ec;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
  text-align: center;
}

.text-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.field-group {
  border: 0;
  padding: 0.35em 0 0.625em 0;
  text-align: left;
  position: relative;
}

.label {
  font-size: 0.9rem;
  line-height: 1.5;
}

.input {
  padding: 0.5em 0 0.5em 1em;
  width: 100%;
  height: 50px;
  border: 1px solid #e5e7ec;
  border-radius: 5px;
  outline: 0;
  font-size: 1rem;
  
  box-sizing: border-box;
}

.btn-submit {
  background-color: #e0c80e;
  color: #fff;
  padding: 0.7em;
  border-radius: 5px;
  outline: 0;
  border: 0;
  width: 100px;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;
}
.btn-submit:hover {
  background-color: rgb(145, 130, 17);
}

.link-forgot {
  position: absolute;
  right: 10px;
  margin-top: 1em;
  font-size: 0.8rem;
  text-decoration: none;
  color: #6371c5;
  z-index: 2;
}

.link-register {
  background-color: #fff;
  display: flex;
  padding: 0.7em;
  justify-content: center;
  text-decoration: none;
  color: #4d5068;
  border: 1px solid #e5e7ec;
  border-radius: 5px;
  margin-bottom: 1em;
}

.link-about > a {
  color: #4d5068;
  text-decoration: underline;
}
#hide1 {
  display: none;
}
.eye {
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.Title {
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  font-weight: 700;
}
.res {
  color: rgb(213, 192, 6);
}
.inn {
  color: grey;
}

.Title1 {
  font-family: "Londrina Shadow", cursive;
  font-size: .75em;
  font-weight: 700;
  margin: auto;
  text-align: center;
}
  /* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
    .top .t1{
        display: inline;
    }
    
 .form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
 
  width: 90%;
  display: block;

  transition: all 0.3s;
}
body{
  background-color: red;
  font-family: 'Dosis', sans-serif;
}
.form__wrapper {
  width: 350px;
  margin: 0 auto;
}
.form__input:placeholder-shown + .form__label {
  opacity: 1;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.submitbutton{

} */
</style>
<body>
  <div class="content-body">
    <div class="form-wrapper">
      
      <form class="bg-white" action="/scan" method="POST">
        <img class="t1" width="75" src="https://raw.githubusercontent.com/bonniesimon/takshak-shastramela/master/img/takshak_logo-removebg-preview.png?token=ANQE5KTBLBK6TM4N4CNBEDC73XU4G" alt="" srcset="">
      
        <div class="Title">
          
          <span class="res">Takshak</span><span class="inn"> QR code</span>
        </div>
        <h1 class="text-title">Paste Url and generate</h1>
        <!-- <div class="field-group">
          <label class="label" for="txt-store">Store adress</label>
          <input
            class="input"
            type="text"
            id="txt-store"
            name="store"
            placeholder="yourstore.myshopify.com"
          />
        </div> -->
       
        <div class="field-group">
          <!-- <label class="label" for="txt-password">Paste URL</label> -->
          <input
            class="input"
            name="url" type="text" placeholder="URL"
          />

        </div>
        <div class="field-group"><label class="label" for="backgd">Choose background: </label>
          <select id="backgd" name="backgd">
            <option value="transparent">Transparent</option>
            <option value="white">White</option>
         
          </select></div>

        <div class="field-group">
          <input class="btn-submit" type="submit" value="Generate QR" />
        </div>
      </form>

      <div class="bg-grey">
       
      </div>
    </div>
  </div>


  
  <!-- <div class="form__wrapper">
    <div class="top">
      
      <img class="t1" width=75" src="https://raw.githubusercontent.com/bonniesimon/takshak-shastramela/master/img/takshak_logo-removebg-preview.png?token=ANQE5KTBLBK6TM4N4CNBEDC73XU4G" alt="" srcset="">
   <h1 class="t1">Takshak Online</h1>
  </div> -->

   <!-- <form action="/scan" method="POST">
       <input name="url" type="text" placeholder="URL" class="form__input">
       <input type="submit" value="Get QR" class="submitbutton">
   </form> -->
  </div>
</body>
</html>